<div data-role="content">   
	<div class="container">
		<div class="img-backdrop"></div>
		<div class="main-card shadow-2">
			<h1>Register</h1>
			<div class="input-group">
				<input id="txtEmail" type="text" required />
				<span class="bar"></span>
				<label class="input-label soft-transition">Email</label>
			</div>
			<div class="input-group">
				<input id="txtEmailConfirm" type="text" required />
				<span class="bar"></span>
				<label class="input-label soft-transition">Confirm Email</label>
			</div>
			<div class="input-group">
				<input id="txtPassword" type="password" required />	
				<span class="bar"></span>
				<label class="input-label soft-transition">Password</label>		
			</div>
			<div class="input-group">
				<input id="txtPasswordConfirm" type="password" required />		
				<span class="bar"></span>
				<label class="input-label soft-transition">Confirm Password</label>	
			</div>
			<div id="termAccept"><input class="checkbox" id="termCheck" type="checkbox"/><label>Accept Terms and Conditions</label></div>
			<div class="container" style="text-align:right;">
				<a href="#" id="reigsterSubmit" class="primary" onclick="Login.validate($('#txtEmail').val(), $('#txtEmailConfirm').val(), $('#txtPassword').val(), $('#txtPasswordConfirm').val());">DONE</a>
				<a href="#" id="registerCancel" onclick="Common.loadPage('login', 'none');">CANCEL</a>
			</div>
			<!-- <div id="taken"><h3>That email is already in use.</h3></div> -->
		</div>
	</div> 			
</div>		
<script src="js/login.js"></script>
<script src="js/animations.js"></script>