@import url('http://roboto-webfont.googlecode.com/svn/trunk/roboto.all.css');
/******Common components ***/
.dialogBox
{
	height: 250px;
	width: 265px;
	position: absolute;
	background-color: white;
	top: 50%;
	left: 50%;
	margin: -725px -133.5px;
	z-index: 1054;
	box-shadow: 9px 11px 11px -11px;
	border-radius: 3px;
	display:none;
}
#dialogHeading
{
	display: block;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 20px;
	font-weight:600;
	font-size:18px;
}
#dialogBody
{
	margin-left: 20px;
	width: 230px;
	display: block;
	color: grey;
	font-weight: 200;
	line-height: 24px;
}

#confirmButton
{
	margin-right:10px;
	color:#0091EA;
	font-weight:400;
}

#cancelButton
{
	margin-right:25px;
	color:#0091EA;
	font-weight:400;
}

#dialogButtonGroup
{
	bottom: 15px;
	right:10px;
	position: absolute;
}
/***************************/
html {
	
    background-color:#dd5145;   
    color: #000;
}
.settingsMenu
{
	width: 0px;
    height: 0px;
    background-color: white;
    position: absolute;
    left: -99px;
    top: 9px;
    z-index: 10;
    box-shadow: 0px 2px 2px 0px;
	
}
.settingMenuList
{
 	list-style: none;
    margin-top: 2px;
    margin-left: -40px;
    display:none;	
}
.settingMenuListItem
{
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: grey;
	text-align: center;	
	opacity:0.8;
}
.settingMenuDots
{
	left: 325px !important;
	position: absolute;
	top: 16px;
	position: absolute;
	z-index: 1030;
}
.settingMenuDotsDetail
{
	left: 325px !important;
	top: 16px;
	position: fixed;
	z-index: 1040;
	display:none;
}
.settingDotIcon
{
	height:25px;
}
.deleteIcon
{
	background-color:#e5e5e5;
	width: 0px;
	height: 120px;
	position: relative;
	float: right;
   -moz-box-shadow:    inset 3px 1px 11px #888;
   -webkit-box-shadow: inset 3px 1px 11px #888;
   box-shadow:         inset 3px 1px 11px #888;
   margin-top: -120px;
	margin-right: 142px;
}
.favIcon
{
	background-color:#e5e5e5;
	width: 0px;
	height: 120px;
	position: relative;
	margin-left: -3px;
   -moz-box-shadow:    inset 3px 1px 11px #888;
   -webkit-box-shadow: inset 3px 1px 11px #888;
   box-shadow:         inset 3px 1px 11px #888;
   float:left;
}
.trashIcon
{
	margin-top: 20px;
	margin-left: 10px;
}
.deleteLabel
{
	top: 47px;
	left: 60px;
	position: absolute;
	font-size: 26px;
	color: grey !important;
	font-weight: 200;
	font-family: sans-serif;
}
#upper
{
	display:block;
}
#lower
{
	display:none;
}
#core
{
	display:none;
}
.workoutToast
{
	width: 100%;
	height: 0px;
	position: absolute;
	z-index: 1050;
	background-color: grey;
	bottom: 0px;
	left: 0px;
	z-index: 1580;
	color: #c1d965;
}
#workoutDayFilter
{
	-webkit-appearance: none;
	border-radius: 0%;
	width: 155px;
	height: 30px;
	box-shadow: 0px 0px 0px 0;
	border: 0px;
	font-family: "Roboto";
	font-weight: 200;
	margin-top: 13px;
	text-indent: 1.65em;
	font-size: 1.3em;
	background-color: #dd5145;
	color: white;
	margin-left: -136px;
	outline:none;
}
#workoutBody
{
	position: fixed;
	background-color: #f9f9f9 !important;
	height: 110%;
	width: 100%;
	margin: -50px 0px;
	overflow-x: hidden;
}
.restDayDiv
{
	margin-left: 55px;
}
.restMessage
{
	width: 286px;
	position: absolute;
}
#extraWorkoutsButton
{
	margin-top: 200px;
	margin-left: 83px;
}
ui-select, span {
    display:none;
}
ui-loader
{
	display:none;
}

.ui-page 
{
	outline-width: 0;
}

#titleLogo
{
	font-family: "Roboto";
	font-weight: 400;
	margin: 0 auto;
	height: 26px;
	color: whitesmoke;
	width: 82px;
}
.radioButtons
{
	float:left;
}

.z1{
  background: white;
  width: 315px;
  height: 333px;
  position: relative;
  margin: 50px auto;
  border-radius: 2px;
}

.formTitle
{
	height: 62px;
	background-color: #0f9d58;
	color: #fff;
	font-family: "Roboto";
	font-weight: 200;
	text-align: center;
	line-height: 58px;
	font-size: 1.5em;
}
#loginForm
{
	margin: 58px;
	margin-top: 46px;
	position: absolute;
}

#loginTextGroup
{
	
	margin: 0px -12px;
}

#loginButtonGroup
{
	width: 260px;
	margin: 77px -30px;
}
#passwordForgot
{
	margin: 0 auto;
	width: 201px;
}
#taken
{
	opacity:0;
}
#registerDiv{
	margin-top: 50px;
}
#registerForm
{
	margin: 0px 68px;
}
#registerTextGroup
{
	margin: 3px -25px;
}
#termCheck
{
	float: left;
	margin: 5px 15px;
}
#termAccept
{
	margin: 10px -36px;
	width: 266px;
}
#registerSubmit{
	margin: 3px 26px;
}

#ageDrop
{
	margin:6px 0px;	
}

#weightTxt
{
	width:160px;	
}

#height
{
	margin: 0px 0px;
}
.workoutPage
{
	overflow-x: hidden;
	position: absolute;
}
.workoutHead
{
	width: 100%;
	height: 64px;
	background-color: #dd5145;
	position: fixed;
	margin-top: -156px;
	z-index: 1000;

	
}
#menuIcon{
	height: 20px;
	
	
}
#arrowIcon
{
	height:0px;
}
.menu{
	
	z-index: 1024;
	top: 27%;
	left: 4%;
	position: absolute;
}
.arrowIcon
{
	z-index: 1024;
	top: 27%;
	left: 4%;
	position: absolute;
}

.backToWorkout
{
	z-index: 1001;
	top: 13px;
	left: 4%;
	position: fixed;
	display:none;
	
}

#detailBackArrow
{
	height:25px;
}


#panelScreen {
	z-index: 1041;
	top: 15.5%;
	width: 100%;
	height: 637px;
	background-color: white;
	position: absolute;
	box-shadow: 0px 4px 6px 0px;
	left: -101%;
	z-index: 1054;
}
.detailPage
{
	z-index: 100;
	position: absolute;
	width: 100%;
	overflow-y: scroll;
	height: 91%;
	margin-top: -12px;
	display:none;
	opacity:0;
	overflow-x:hidden;
	background-color:grey;
	background-image:url(../img/pushUp.jpg);
}
.detailTitle
{
	color:black;
}
.detailContent
{
	margin-top:200px;
	background-color:white;
	height:100%;
}
.detailPageImg
{
	z-index: 1000;
	position: relative;
	width: 100%;
	height: 200px;
	background-color: grey;
	color: black;
	top: 0px;
	left: 0px;
}
.detailTitleContainer
{
	position: absolute;
	left: 50%;
	margin-left: -119px;
	z-index: 1000;
	width: 245px;
	margin-top: -5px;
	text-align: center;
}
#detailDifficulty
{
	margin-top: -17px;
	position: absolute;
	text-align: center;
	width: 25px;
}
#detailSets
{
	margin-top: -17px;
	position: absolute;
	text-align: center;
	width: 25px;
}
.longDetailsList
{
	list-style: none;
	position: relative;
	z-index: 1000;
}
#detailReps
{
	margin-top: -17px;
	position: absolute;
	text-align: center;
	width: 25px;
}
.exerciseAttributeList
{
	z-index: 1000;
	list-style: none;
	position: relative;
	display: inline-flex;
	width: 100%;
}
.exerciseAttribute
{
	margin-right: 50px;
	width:325px;
}

#start{
	z-index: 1041;
	left: 366px;
	width: 500px;
	height: 83%;
	background-color: white;
	position: absolute;
	top:109px; 

}
.startDetailList
{
	list-style:none;
}
.routineSetImg
{
	height: 200px;
	width: 361px;	
}
#startButton
{
	position: fixed;
	bottom: 3px;
}

#iconContainer {
	top: 50%;
	position: absolute;
	margin-top: -241px;
	width: 100px;
	left: 90%;
	margin-left: -210px;
}

.proMenu
{
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	height: 60px;
	width: 60px;
	z-index: 1100;
	float: left;
	margin: 120px;
	border-radius: 100%;
	text-align: center;
	line-height: 59px;
	margin-top: -66px;
	font-size: 10px;
}

#workoutOverviewTitle
{
	margin-top: 10px;
	text-align: center;
	position: relative;
	padding-top: 5px;
	color:white;
	font-weight: bold;
}
.headerTextContainer
{
	text-align: center;
	width: 235px;
	margin: 0 auto;
	height: 50px;
	line-height: 20px;
}
#currentDate
{
	margin: -0.5em 17em;
	position: absolute;
}
#workoutContent
{
	height: 100% !important;
	width: 100%;
	position: fixed;
	margin-top: 160px;
	overflow-x: hidden;
	
}#workoutTabs
{
	width: 100%;
	height: 56px;
	background-color: #dd5145;
	line-height: 30px;
	list-style: none;
	top: 70%;
	position: absolute;
	
}
 #mealTabs
 {
	width: 100%;
	height: 56px;
	background-color: #dd5145;
	line-height: 30px;
	list-style: none;
	top: 70%;
	position: absolute;
	left: -34px;
 }

.tab {
	font-family: roboto;
	position: relative;
	display: inline-block;
	width: 33%;
	font-size: 16px;
	padding-bottom: 17px;
	padding-top: 14px;
	z-index: 5;
	color: rgba(255,255,255,.74);
	float: left;
	text-decoration: none;
	color: white;
	font-weight: 200;
}

#ubar {
	display: block;
	height: 2px;
	position: absolute;
	top: 115px;
	background: #ffea00;
	z-index: 10;
	width: 33%;
}
#mealsUbar
{
	display: block;
	height: 4px;
	position: absolute;
	left: 0;
	right: 75%;
	top: 114px;
	background: #ffea00;
	z-index: 10;
	width: 90px;
	/* margin-left: 40px; */
}
#upper{
	
	opacity:1;
}
#lower
{
	opacity:1;
}
#core
{
	opacity:1;
}
.noWorkout
{
	z-index: 1100;
	display: block;
	position: absolute;
	left: 50%;
	width: 200px;
	margin-left: -100px;
	font-size: 26px;
}
.list-view {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255,255,255,1);
    z-index: 1;
    transition: background 0.3s 0.1s;
    margin-top:-40px;
}
.listItemImg
{
	width: 120px;
	height: 90px;
	background-color: grey;
	z-index: 1085;
	position: relative;
	display: inline-block;
	margin-left: 5px;
	vertical-align: top;
	margin-top: 15px;	
}
.listItemText
{
	width: 60%;
	display: inline-block;
	margin-top: 15px;
	margin-left: 5px;
}
.detail-view
{
	
}
.workoutList
{
	list-style: none;
	margin-top: 205px;
	width: 500px;
	height: 485px;
	margin-left: -24px;
	overflow-x: hidden;
	height:calc(100% - 219px);
}
    
#sub1
{
	margin-top: 0px;
	position: absolute;
	z-index: 0;
	
}
.workoutCards
{
	height: 120px;
	width: 100%;
    left: 0;
    right: 0;
    border-bottom-width: 1px;
    border-top-width:0px;
    border-right-width:0px;
    border-left-width:0px;
    border-style: solid;
    border-color: #ddd;
    transition: transform 0.3s, opacity 0.3s 0.3s, border-color 0.3s 0.3s;
    margin-left: -14px;
    background-color: #fff;
	

}
.workoutCardContainer
{
	width:360px;
	height:100%;
	
}
.exitDetail
{
	z-index: 1001;
	position: absolute;
	bottom: 33px;
	opacity:0;
}

.exName
{
	font-weight: 300;
}
#exLbl5
{
	
}

.hiddenTxt
{
	visibility:hidden;
}
#circleTutorial
{
	width: 100%;
	height: 641px !important;
	margin: 0px;
	z-index: 0;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	top: -8px;
	left: -8px;
	position: absolute;
	overflow: hidden;
}
#welcomePage
{
	position: absolute;
	width: 100%;
}
#screen1
{
	display:inline;
}
#screen2
{
	display:none;
}
#screen3
{
	display:none;
}
#screen4
{
	display:none;
}
#screen5
{
	display:none;
}
#screen6
{
	display:none;
}
.tutorialScreenView
{
	display: inline;
	height: 488px !important;
	position: absolute;
}
#pageIndicators{
	position: fixed;
	left: 50%;
	margin-left: -181px;
	top: 99%;
	margin-top: -4em;
	width: 156%;
	height: 50px;
}
#indicatorGroup
{
	left: 120px;
	position: absolute;
	top: 1em;
}
.indicatorDots
{
	-webkit-appearance: none;
	background-color: white;
	width: 10px;
	height: 10px;
	border-radius: 100%;
}

.arrow
{
	float:left;
	position: absolute;
	color: white;
	background-color: white;
	width: 40px;
	height: 40px;
	text-align: center;
	border-radius: 100%;
	line-height: 37px;
}
#arrowRight
{
	margin-left: 19em;
}
#arrowLeft
{
	margin-left: 18px;
	
}


/*********************************************************/
/***********Generic Css***********************************/
/*********************************************************/
.textField
{
	height: 25px;
	width: 225px;
	color: black;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 20px;
	margin-top: 10px;
	border-style: solid;
	border-color: whitesmoke;
	padding-top: 5px;
	
}

.button {
    display: inline-block;
	position: relative;
	width: 120px;
	height: 38px;
	line-height: 36px;
	border-radius: 2px;
	font-size: 1.0em;
	background-color: #fff;
	color: #646464;
	text-align: center;
	float: left;
	margin: 5px;
	font-family: "Roboto";
	font-weight: 100;
}

.button > paper-ripple {
      border-radius: 2px;
      overflow: hidden;
}

.button.green {
      background-color: #0f9d58;
      color: #fff;
}

.button.grey {
      background-color: #eee;
}
    
.button.blue {
      background-color: #4285f4;
      color: #fff;
}
.button.red {
      background-color: #dd5145;
      color: #fff;
}
.button.yellow {
     background-color: #eeff41;
     color: #fff;
}

 .button.raised {
      transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0.2s;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
    
.button.raised:active {
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
      transition-delay: 0s;
}
    
    
h3
{
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 20px;
}
input:focus {outline: none;
border-color:#0f9d58;
}


.paper-shadow {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: inherit;
  pointer-events: none;
}

.paper-shadow-top-z-1 {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}

.paper-shadow-bottom-z-1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.checkbox {
  position: relative;
  top: -0.375rem;
  margin: 0 1rem 0 0;
  cursor: pointer;
}
.checkbox:before {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 1rem;
  height: 1rem;
  border: 2px solid #f2f2f2;
}
.checkbox:checked:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: .5rem;
  border-color: #009688;
  border-top-style: none;
  border-right-style: none;
}
.checkbox:after {
  content: "";
  position: absolute;
  top: -0.125rem;
  left: 0;
  width: 1.1rem;
  height: 1.1rem;
  background: #fff;
  cursor: pointer;
}

.radio {
	position: relative;
	top: -0.375rem;
	margin: 0.99em 1.5em 0 0;
	cursor: pointer;
	border-radius: 100%;
}

.radio:before {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	content: "";
	position: absolute;
	left: 0;
	z-index: 1;
	width: 1rem;
	height: 1rem;
	border: 2px solid #f2f2f2;
	border-radius: 50%;
	padding: 1px;

  
  
}
	
.radio:checked:before {
	/* -webkit-transform: rotate(-45deg); */
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	/* height: .5rem; */
	border-color: black;
	/* border-top-style: none; */
	/* border-right-style: none; */
	content: "\2022";
	font-size: 29px;
	text-align: center;
	line-height: 11px;
}
.radio:after {
	content: "";
	position: absolute;
	top: -0.125rem;
	left: 0;
	width: 1.5em;
	height: 1.1rem;
	background: #0091ea;
	cursor: pointer;
	margin-left: -2px;
}

#circle{
	z-index:1000;
}

.circle {
  width:0px;
  height:0px;
  background-color:#F3432F;
  border-radius:100%;
  margin-top:0px;
  margin-left:0px;
  top:50%;
  left:50%;
  position:absolute;
  -webkit-animation: mymove infinite; /* Safari and Chrome */
    -webkit-animation-duration: 2s; /* Safari and Chrome */
    animation: mymove infinite;
    animation-duration: 2s;
}

h2
{
	font-family:"Roboto";
	font-weight:400;
}
select
{
	-webkit-appearance: none;
	border-radius: 0%;
	width: 160px;
	height: 30px;
	text-align: center;
	box-shadow: 0px 1px 1px 0;
	border: 0px;
	font-family: "Roboto";
	font-weight: 200;
	margin:10px auto;
	text-indent: 3.65em;
	font-size:1.0em;
}
label
{
	font-family:"Roboto";
	font-weight: 200;
	
}

.paper-button:before,.paper-button:after {
background:no-repeat 50% 50%;
-moz-border-radius:50%;
-webkit-border-radius:50%;
border-radius:50%;
-moz-box-shadow:0 2px 10px 0 rgba(0,0,0,.16);
-webkit-box-shadow:0 2px 10px 0 rgba(0,0,0,.16);
box-shadow:0 2px 10px 0 rgba(0,0,0,.16);
content:"";
height:50px;
left:0;
position:absolute;
right:0;
margin-top: 50px;
top:0;
-moz-transform:translate3d(0,0,0);
-webkit-transform:translate3d(0,0,0);
transform:translate3d(0,0,0);
-moz-transition:all .28s cubic-bezier(.4,0,.2,1);
-webkit-transition:all .28s cubic-bezier(.4,0,.2,1);
transition:all .28s cubic-bezier(.4,0,.2,1);
width:50px;
}

.paper-button:hover:after {
-moz-box-shadow:0 8px 17px 0 rgba(0,0,0,.2);
-webkit-box-shadow:0 8px 17px 0 rgba(0,0,0,.2);
box-shadow:0 8px 17px 0 rgba(0,0,0,.2);
}

.paper-button-sub:before,.paper-button-sub:after {
background:no-repeat 50% 50%;
-moz-border-radius:50%;
-webkit-border-radius:50%;
border-radius:50%;
-moz-box-shadow:0 2px 10px 0 rgba(0,0,0,.16);
-webkit-box-shadow:0 2px 10px 0 rgba(0,0,0,.16);
box-shadow:0 2px 10px 0 rgba(0,0,0,.16);
content:"";
height:30px;
left:0;
position:absolute;
right:0;
margin-top: 50px;
top:0;
-moz-transform:translate3d(0,0,0);
-webkit-transform:translate3d(0,0,0);
transform:translate3d(0,0,0);
-moz-transition:all .28s cubic-bezier(.4,0,.2,1);
-webkit-transition:all .28s cubic-bezier(.4,0,.2,1);
transition:all .28s cubic-bezier(.4,0,.2,1);
width:30px;
}

.paper-button-sub:hover:after {
-moz-box-shadow:0 8px 17px 0 rgba(0,0,0,.2);
-webkit-box-shadow:0 8px 17px 0 rgba(0,0,0,.2);
box-shadow:0 8px 17px 0 rgba(0,0,0,.2);
}

.btn-next {

display:block;
left:0;
pointer-events:all;
position:absolute;
right:0;
top:-5px;
}

.btn-next-sub {

display:block;
left:10px;
pointer-events:all;
position:absolute;
right:0;
top:-5px;
}

#white:before{
background:#fff;
color:#000;
}

#red:before{
background:red;
color:#000;
}

#blue:before{
background:#0091ea;
color:#000;

}

#yellow:before{
	background: #eeff41;
	color:#000;
}


#blue2:before{
background:#0091ea;
color:#000;

}

#blue3:before{
background:#0091ea;
color:#000;

}

#eatMenu
{
	content: "+";
}
#eatMenu:before{
background-color:#0f9d58;
color:#000;
text-align: center;
line-height: 2.9em;

}
#eatMenuClose
{
	content: "+";
	display:none;
}
#eatMenuClose:before{
background-color:#0f9d58;
color:#000;
text-align: center;
line-height: 2.9em;

}
#findMoreEat
{
	content: "+";
}
#findMoreEat:before{
background-color:white;
color:#000;
text-align: center;
line-height: 2.9em;

}
#customEat
{
	content: "+";
}
#customEat:before{
background-color:white;
color:#000;
text-align: center;
line-height: 2.9em;

}
#buttonGroup
{
	position:fixed;
	margin-left: -10px;
	top: 111px;
	z-index: 1005;
}
.icon-arrow-left
{
	opacity:0;
	z-index:1001;
	position:absolute;
}
//---Back arrow --//

#addMealsBack
{
	height: 25px !important;	
}
.settingRow
{
	height: 100px;
	border-style: solid;
	border-width: 1px 0 0 0;
	border-color: grey;
	opacity: 0.5;
	margin-left: -16px;
}


//---Meals ------//

#breakfast
{
	opacity:1;
}
#lunch{
	opacity:0;	
}
#dinner{
	opacity:0;	
}
#snack{
	opacity:0;	
}
#submitWorkoutForm
{
	position: absolute;
	bottom: 58px;
	left: 50%;
	margin-left: -136px;
}
.timer
{
	font-weight: 800;
	font-size: 45px;
	color: #0091ea;
	left: 50%;
	position: absolute;
	margin-left: -196px;
}
#timeLabel
{
	margin-left: -134px;
}
#timerContainer
{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: 148px;
	margin-left: -2px;
}

//--switches--//
.paper-toggle{
  clear: both;
  margin: 20px 0;
  opacity:1 !important;
}

.paper-toggle input:empty
{
	margin-left: -999px;
}

.paper-toggle input:empty ~ label
{
	position: relative;
	float: left;
	line-height: 1.6em;
	width: 150px;
	cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.paper-toggle input:empty ~ label:before, 
.paper-toggle input:empty ~ label:after
{
  position: absolute;
	display: block;
  content: ' ';
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.paper-toggle input:empty ~ label:before
{
    top: 8px;
    left: 115px;
    width: 32px;
    height: 1px;
    background-color: #5a5a5a;
}

input.switch:empty ~ label:after
{
    top: 0px;
    left: 100px;
    width: 1.4em;
    height: 8px;
    bottom: 0.1em;
    margin-left: 0.1em;
    background-color: #fff;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: solid 2px;
    border-color: #5a5a5a;
}

.paper-toggle input:checked ~ label:before
{
	background-color: #0f9d58;
}

.paper-toggle input:checked ~ label:after
{
	left: 140px;
  background-color: #0f9d58;
  border-color: #0f9d58;
}
#weightPerformed
{
	display: none;
	margin-left: -53px;
	position: fixed;
	bottom: 63px;
}
#completeMessage
{
	display: none;
	width: 300px;
	position: absolute;
	left: 50%;
	margin-left: -215px;
	margin-top: 11px;
}
#weightAdjForm
{
	width: 350px;
	height: 350px;
	z-index: 1012;
	position: absolute;
	background-color: white;
	top: 50%;
	margin-top: -175px;
	left: 50%;
	margin-left: -175px;
	box-shadow: 0 0 2px 0px;
	display:none;
	z-index: 1054;
	
}
.overlay
{
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.4;
	z-index: 1048;
	position: absolute;
	display:none;
}

/**********************************/
/**** Profile Css *****************/
/**********************************/
#proBody
{
    overflow: hidden;
}
#profileImageContainer
{
	width: 105%;
    height: 200px;
    z-index: 1001;
    background-color: grey;
    margin: -8px;
}
#profileBody
{
	background-color: white;
	width: 100%;
	height: 70%;
	margin: 0px -8px;
	position: absolute;
	overflow:scroll;
}
#profileTabsContainer
{
	background-color: white;
	width: 100%;
	margin-top: 200px;
}

.tabList
{
	list-style: none;
    margin-top: -16px;
    margin-left: -40px;
}
.profileTab
{
	height: 41px;
	width: 110px;
	text-align: center;
	line-height: 42px;
	display: inline-block;
	vertical-align: top;
}

#profileTabSelect
{
	background-color: white;
}
#progressTabSelect
{
	background-color: #0091ea;	
}
#profileInfo
{
	
}
#progressInfo
{
	display:none;
}
#favoriteInfo
{
	display:none;
}
/******************************************/
/******Add Meal Page**********************/
/*****************************************/

#searchBoxContainer
{
	background-color: white;
	width: 100%;
	height: 35px;
}
#searchBox:focus {
   outline: none; 
}
#searchBox
{
	width: 75%;
	height: 29px;
	outline: none;
	vertical-align: top;
}
#searchButton
{
	font-family: "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
	display: inline-block;
	font-size: 16px;
	text-transform: none;
	font-weight: 500;
	letter-spacing: 0.07em;
	border: 1px;
	border-style: solid;
	color: white;
	background-color: grey;
	z-index: 100;
	width: 21%;
	height: 33px;
	vertical-align: top;
	text-align: center;
	line-height: 31px;
}
#searchResults
{
	width: 100%;
	min-height: 304px;
	display: block;
	background-color: white;

}
#resultsList
{
	list-style:none;
	padding: 0px;
}
.resultItem
{
	height:60px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: grey;
}

/********* Change Day HTML css ***********/

.daySelector
{
	background-color:white;
	width:50px;
	height:50px;
	display: inline-block;
	margin-bottom: 5px;
	box-shadow: 1px 1px 4px -2px;
}
#saveScheduleButton
{
	margin-top:300px;
}